.rating{
    margin-top: 190px;
    background: url(../img/rating_bg.jpg) 100% center;
    background-size: cover;
    &__wrapper{
        padding: 105px 0;
        display: grid;
        justify-content: center;
        grid-template: 223px / repeat(4, 255px);
        grid-auto-rows: auto;
        gap: 15px;
        span{
            font-weight: 600;
            font-size: 48px;
            line-height: 72px;
            color: #fff;
        }
        &-item{
            padding-top: 60px;
            background: rgba(19, 19, 19, 0.9);
            border: 1px dashed #FFFFFF;
            border-radius: 5px;
            text-align: center;
            transition: all .6s;
            &:hover{
                content: "";
                background-color: #7456FF;
                border: 0;
            }
        }
        &-text{
            
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
        }

    }
}